<!--  Create dynamic header on scroll event  -->

<header id="header" class="header" aria-label="main website header">
  <div class="header-wrapper">
    <div class="left-container">

<!--  Create company logo icon with link to homepage as inline SVG  -->

      <a href="" class="logo-icon-link" tabindex="0">
        <svg id="logo-icon" alt="My Clean Home" class="logo-icon" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 693 679.4">
          <path d="M666.2,279.5h-70c-3.2,0-5.8,2.3-5.8,5.2v342.7c0,2.9-2.6,
            5.2-5.8,5.2H108.3c-3.2,
            0-5.8-2.3-5.8-5.2v-342.7c0-2.9-2.6-5.2-5.8-5.2H26.8c-5.3,
            0-7.8-5.9-3.8-9.1L333.5,25.5c7.5-5.9,18.4-5.9,25.9,0l137.5,
            108.5c3.7,2.9,9.6.6,9.6-3.9v-55.4c0-2.9,2.6-5.3,5.8-5.3h72.4c3.2,0,
            5.8,2.3,5.8,5.2v130.7c0,1.5.7,2.9,2,3.9l77.6,61.2c4,3.2,1.5,9.1-3.8,   
            9.1h0Z"/>
        </svg>
      </a>
      <h1 id="logo-text" class="logo-text">My Clean Home
      </h1>
    </div>
    <div class="right-container">

<!--  Create 'book clean' CTA button  -->

      <button id="book-clean-button" class="book-clean-button">Book
      </button>

<!--  Create hamburger menu button as inline SVG  -->

      <button id="hamburger-menu-button" class="hamburger-menu-button" aria-label="menu" aria-expanded="false" aria-controls="mobile-nav">
        <svg xmlns="http://www.w3.org/2000/svg" id="hamburger-menu-icon" class="hamburger-menu-icon" viewBox="0 0 24 24">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </button>
    </div>
  </div>
</header>